header.header_container {
  background-attachment: scroll;
  position: relative;
  height: 20% !important;

}

header.header_container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.header_container .page-heading,
header.header_container .post-heading,
header.header_container .site-heading {
  /*padding: 50px 0 50px;*/
  color: white;
}

.row{
  height: 20%;
}
@media only screen and (min-width: 768px) {

  header.header_container .page-heading,
  header.header_container .post-heading,
  header.header_container .site-heading {
    padding: 20px 0;
  }
}

header.header_container .page-heading,
header.header_container .site-heading {
  text-align: center;
}

header.header_container .page-heading h1,
header.header_container .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.header_container .page-heading .subheading,
header.header_container .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {

  header.header_container .page-heading h1,
  header.header_container .site-heading h1 {
    font-size: 80px;
  }
}

header.header_container .post-heading h1 {
  font-size: 35px;
}

header.header_container .post-heading .meta,
header.header_container .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.header_container .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.header_container .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.header_container .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.header_container .post-heading h1 {
    font-size: 55px;
  }

  header.header_container .post-heading .subheading {
    font-size: 30px;
  }
}
