footer.footer_container {
  background-attachment: scroll;
  position: relative;
  height: 20% !important;
  margin-top: 2%;

}
footer.footer_container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;

}

footer.footer_container .page-heading,
footer.footer_container .post-heading,
footer.footer_container .site-heading {

  color: white;
}

.row{
  height: 20%;
}
h3 {
  text-align:center;
  padding: 1% 0%;
  font-family: 'Papyrus';
}
