<!-- Main Content -->
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <form novalidate>
      <div class="control-group">
        <div class="form-group">
          <label>Food</label>
          <input type="text" [(ngModel)]="blog.title" [disabled]="process" name="Food" class="form-control"
            placeholder="Name of the Dish">
        </div>
      </div>
      <div class="control-group">
        <div class="form-group">
          <label>Steps to Prepare</label>
          <textarea rows="5" [(ngModel)]="blog.description" [disabled]="process" name="content" class="form-control"
            placeholder="Add your Recipe."></textarea>
        </div>
      </div>
      <br>
      <app-loading *ngIf="process && (!success && !failure)"></app-loading>
      <div class="alert alert-success pointer" *ngIf="success" routerLink="/home" role="alert">
        Your Blog was successfully Posted navigate to Home page or click here to go Home.
      </div>
      <div class="alert alert-danger pointer" *ngIf="failure" routerLink="/author-post" role="alert">
        Error, please try again!
      </div>
      <div class="form-group text-center mx-auto" *ngIf="!isSubmit">
        <button class="btn btn-secondary submit-color" (click)="submit();">Submit</button>
      </div>
    </form>
  </div>
</div>
